<div class="conatiner">
    <div class="row">
        <div class="col-sm-12">
            <table class="table  table-striped">
                <thead class="mt-3 mb-3">
                    <tr>
                        <th>Emp Id</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email Id</th>
                        <th>Active</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let emp of employees | async">
                        <td>{{emp.id}}</td>
                        <td>{{emp.firstName}}</td>
                        <td>{{emp.lastName}}</td>
                        <td>{{emp.emailId}}</td>
                        <td>
                            <button class="btn btn-danger m-2" (click)="deleteEmployee(emp.id)" (click)="deleteMethod(emp)">Delete</button>
                            <button class="btn btn-success m-2" (click)="updateEmployee(emp.id)">Update</button>
                            <button class="btn btn-info m-2" (click)="ViewSwal(emp)" (click)="viewDetails(emp.id)">View</button>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>